/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
    /* COLORS */
    --header-color:  #D2872C;
    --ul-color: #766F68;
    --menu-bg: #766F68;
    --h1-color: #766F68;
    --p-color: #766F68;
    --btn-background: #D2872C;
    --btn-color: #FFFFFF;
    --btn-border: #D2872C;
    --bg-nav: #D2872C;
    --bg-hover: #db953fcb;

    /*FONTE*/
    --specify-families: 'Roboto', sans-serif;
}
/* HEADER */

/*** HEADER CONTAINER  ***/
header.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.7rem;
}

/*Style header*/
header.title a {
    color: var(--header-color);
    font-family: var(--specify-families);
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    
}


/* MENU */

/* NAV CONTAINER*/
nav.menu ul {
    display: flex;
    align-items: center;
}

nav.menu ul, li {
    display: none
}

nav.menu {
    background-color: var(--bg-nav);
    width: 414px;
    height: 896px;
    display: none;
}

/*** MENU MOBILE ***/
img.menu-team {
    width: 40px;
    height: 30px;
}

input[type="checkbox"] {
    display: none;
}

nav.menu li:hover {
    background-color: var(--bg-hover);
}

/* MAIN */
/*** MAIN CONTAINER ***/

main.main-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 3.7rem;

}
main.main-content h1 {
    color: var(--h1-color);
    font-family: var(--specify-families);
    font-size: 2.5em;
    line-height: 3.4rem;
    font-weight: bold;
    text-align: center;

    margin: 1rem 0 1rem 0;


}
main.main-content p {
    color: var(--p-color);
    font-family: var(--specify-families);
    font-size: 1.5rem;
    line-height: 2.2rem;
    text-align: center;
    margin: 1rem 0 1rem 0;

}


/* Button */

main.main-content .btn {
    background-color: var(--btn-background);
    color: var(--btn-color);
    border: none;

    padding: 1rem;
    margin: auto;
    width: 15.4rem;
    border-radius: 15px;

    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    margin: 1rem 0 1rem 0;

}

/*** IMAGEM ***/

img.img-team {
    width: 420px;
    height: 300px;
    margin: auto;
}